*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#0f172a,#1e293b);
    color:white;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:90%;
    max-width:700px;
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:15px;
}

.subtitle{
    color:#cbd5e1;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

input{
    margin-top:15px;
    margin-bottom:20px;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:10px;
    background:#38bdf8;
    color:black;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    transform:scale(1.05);
}